[submodule "reference-implementation/tests/googletest"]
	path = reference-implementation/tests/googletest
	url = https://github.com/google/googletest.git
[submodule "reference-implementation/dependencies/vlq"]
	path = reference-implementation/dependencies/vlq
	url = https://github.com/kstenerud/vlq.git
[submodule "reference-implementation/dependencies/endianness"]
	path = reference-implementation/dependencies/endianness
	url = https://github.com/kstenerud/endianness.git
[submodule "reference-implementation/dependencies/kslog"]
	path = reference-implementation/dependencies/kslog
	url = https://github.com/kstenerud/KSLog.git
